body {
    font-family: 'Open Sans', sans-serif;
}

text.mg-header {
    font-size: 20px
}

tspan.mg-chart-description {
    font-size:20px
}

text.mg-active-datapoint {
    font-size:14px
}

g.mg-x-axis text {
    font-size: 14px
}
g.mg-y-axis text {
    font-size: 14px
}

div.gd-header {
    margin-top:20px;
    display:flex;
    align-items:baseline;
}

div.gd-header-text {
    font-weight:900;
    text-transform: uppercase;
    font-size:30px;
    width:50%;
}

div.gd-header-second-text {
    font-weight:300;
    text-align:right;
    font-style:italic;
    width:50%;
    color:gray;
    font-size:20px
}

div.dl-divider {
    border-bottom:1px solid gray
}

.mg-popover {
    font-size:14px
}

div.graphic-display {
    max-width:1400px;
    margin:auto;
}

div.gd-row {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin:auto;
}

div.gd-graphic-container {
}

div.data-graphic {
    margin:15px;
}

div.data-graphic svg {
}

div.gd-graphic-disclaimer {
}

div.gd-main-disclaimer {
    font-weight:300;
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
    background-color:pink;
    border-radius:5px;
}

div.gd-single-number {
    margin:auto;
    margin-bottom:20px;
    text-align:center
    
}

div.gd-single-number-label {
    font-size:16px;
    margin-bottom:-5px
}

div.gd-single-number-value {
    font-size:38px;
    font-weight:bold;
}