body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    min-height:100%;
}

div.graphic-display {
    max-width:1200px;
    margin:auto;

    background-color:white;
    padding-top:5px;
    padding-bottom:5px;
    height: 100vh;
}

text.mg-header {
    font-size: 20px;
    
}

tspan.mg-chart-description {
    font-size:20px
}

text.mg-active-datapoint {
    font-size:14px
}

g.mg-x-axis text {
    font-size: 12px
}
/* g.mg-y-axis text {
    font-size: 12px
} */

div.gd-loading-graphic {
    width:100%;
    height:100%;
    margin-top:120px;
    text-align:center;
    color:lightgray
}

div.gd-header {
    margin-top:20px;
    display:flex;
    align-items:baseline;
    padding-left:20px;
    padding-right:20px;
}

div.gd-header-text {
    font-weight:900;
    text-transform: uppercase;
    font-size:30px;
    width:50%;
}

div.gd-header-second-text {
    font-weight:300;
    text-align:right;
    font-style:italic;
    width:50%;
    color:gray;
    font-size:20px
}

div.dl-divider {
    border-bottom:1px solid gray
}

.mg-popover {
    font-size:14px
}



div.gd-row {
    display: flex;
    justify-content: space-around;
    width:100%;
    margin:auto;
    margin-bottom:35px;
    padding-left:20px;
    padding-right:20px;

}

div.gd-graphic-container {
    
}

div.data-graphic {
}



div.data-graphic svg {
    margin:auto;
    display: block
}

div.gd-graphic-disclaimer {
    padding-left:60px;
    padding-right:40px;
    min-height:40px;
    margin-top:10px;
}

div.gd-main-disclaimer {
    font-weight:300;
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    padding-top:25px;
    padding-bottom:25px;
    background-color:pink;
    border-radius:5px;
}

div.gd-topline-row {
    background:linear-gradient(45deg, rgb(245,245,245), rgb(240,240,240) );
    /* background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(250, 250, 250), rgb(243, 243, 243)) repeat scroll 0% 0%; */
    font-weight:300;
    font-size:16px;
    margin-top:15px;
    margin-bottom:30px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    display: flex;
}

div.gd-single-number {
    margin:auto;
    text-align:center
    
}

div.gd-single-number-label {
    font-size:14px;
    margin-bottom:-5px
}

div.gd-single-number-value {
    font-size:32px;
    font-weight:bold;
}

div.gd-footer {
    width:100%;
    outline:1px solid black;
}